<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.happyz.happyphoto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DefaultGen"
            android:theme="@style/StartTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gen.User.UserLoginGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserRegisterGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserInfoGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserAlbumCreateGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserAlbumListAllGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserAlbumListOfMineGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.User.UserAlbumPicListGen"
            android:theme="@style/ViewPicStyle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.Activity.ActivityListGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.Activity.ActivityDetailGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gen.Activity.ActivityAlbumSelectGen"
            android:theme="@style/UserTheme"
            android:screenOrientation="portrait" >
        </activity>
    </application>


</manifest>
